@media only screen and (min-width: 600px){
	

* {
    padding : 0;
    margin : 0;
	box-sizing: border-box;
	font-size: 1em;
}

body {
    background : black;
    color : white;
	width:100%;
}


#wframe{
	background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/twoo.jpg");
	background-size: cover;
	height: 900px;
	position: relative;
	top: 0px;
}



#dpdwn{
	display: none;
	
}

.fa-bars{
	visibility: hidden;
}


.fa-search{
	visibility: hidden;
}

#mainSearch{
	display: none;
}




a{
	color: white;
	text-decoration: none;
}


/* navbar for pc*/

#CompNavBar{
	display: block;
	padding:20px;
}

#CompNavBar a{
	display: inline-block;
	width: 15%;
	text-align: center;
	font-size:25px;
	padding:20px;
}

#CompNavBar a:hover{
	background-color: #2070D0;
}

#CompNavBar a:visited{
	background-color: #2070D0;
}

#CompForm{
	display: inline-block;
	width: 37%;
}

#FormInput{
	display: inline-block;
	width: 55%;
	padding:20px;
	position: relative;
	left: 8.2%;
	background-color: #2070D0;
	border: 1px solid white;
	font-size: 20px;
}

#FormInput::placeholder{
	color: white;
	font-size: 20px;
}

#FormInput:focus{
	background-color: white;
	color: black;
}


#FormButton{
	display: inline-block;
	width: 35%;
	border: 1px solid white;
	padding:20px;
	position: relative;
	left: 8.8%;
	background-color: #081828;
	color: #2070D0;
	border: 1px solid #2070D0;
	font-size: 20px;
}






#MainSpeech{
	width: 100%;
	position: absolute;
	top: 250px;
	z-index: 0;
}

.jumbotron{
	width: 100%;
	font-size: 50px;
	text-align: center;
	padding: 30px;
}

.jumbotron1{
	text-align: center;
	width:60%;
	position: relative;
	left: 20%;
	line-height: 35px;
	font-size: 30px;
}

.gStarted{
	text-align: center;
	width: 50%;
	display: block;
	position: relative;
	left: 25%;
	padding: 30px;
	background-color: #2070D0;
	margin-top: 20px;
	border-radius: 50px;
	font-size: 25px;
}






#grid{
	display: flex;
	width: 100%;
	background-color: #2070D0;
	padding-top: 100px;
	padding-bottom: 100px;
}

#g1, #g2, #g3{
	width:30%;
	margin: 3%;
}

#grid1, #grid2, #grid3{
	width:80%;
	padding:70px;
	background-color: #2070D0;
	color: white;
	text-align: center;
	display: block;
	border: 3px solid white;
	border-radius: 50%;
	margin: 2%;
	position: relative;
	left: 8%;
}

.headerText{
	width: 100%;
	text-align: center;
	font-size: 25px;
	margin: 10px;
}

.g1p, .g2p, .g3p{
	position: relative;
	left:5%;
	width:90%;
	text-align: center;
	line-height: 25px;
}

.fa-leaf{
	font-size:60px;
	display: block;
	color: white;
}

.fa-desktop{
	font-size:60px;
	display: block;
	color: white;
}

.fa-book{
	font-size:60px;
	display: block;
	color: white;
}








#footer{
	width: 100%;
	background-color: #2070D0;
	/*background-color: #081828;*/
	margin-top: 100px;
	padding: 100px;
}

#foot1{
	display: flex;
	width: 100%;
}

#foot1 a{
	width: 33.3%;
	display: block;
	text-align: center;	
}

#foot2{
	display: flex;
	width: 100%;
}

#foot2 a{
	width: 33.3%;
	display: block;
	text-align: center;	
}

#foot3{
	display: flex;
	width: 100%;
}

#foot3 a{
	width: 33.3%;
	display: block;
	text-align: center;	
}















}
